.container {
    display: flex;
    background: #fff;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.checked {
    background: #efefef;
    transition: background, 300ms;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer i {
    color: #5f5f5f;
    font-size: 3.5em;
}

.avatar img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.body {
    padding: 20px 20px;
}

.name {
    font-weight: bold;
    color: #242424;
    margin: 1px 0px;
}

.email {
    color: rgb(61, 61, 61);
    margin: 1px 0px;
}

.email i {
    vertical-align: middle;
    font-size: 1.2em;
}

.email span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}