html, body {
    margin: 0;
}

.app {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.appNavigationBar {
    background: steelblue;
    padding: 25px 30px;
}

.appNavigationBar a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.appBody {
    background: lightgray;
    min-height: 500px;
}

.userCard {
    position: relative;
    padding: 20px 20px;
    background: #fff;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.userName {

}

.userEmail {
    margin-top: 10px;
}