html, body {
    margin: 0;
}

.app {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.appNavigationBar {
    background: steelblue;
    padding: 10px;
}

.appNavigationBar a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.appBody {
    padding: 10px;
    background: lightgray;
    min-height: 500px;
}

.table td {
    padding: 10px 30px;
}

.table img {
    height: 50px;
    width: 50px;
    border-radius: 15px;
}