html, body {
    margin: 0;
}

.app {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navigationBar {
    background: steelblue;
    padding: 25px 30px;
}

.navigationBar a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.body {
    background: lightgray;
    min-height: 500px;
}