.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: steelblue;
    padding: 15px 15px;
}

.navigationBar i {
    font-size: 3.0em;
    color: #fff;
}

.navigationBar a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}