html, body {
    margin: 0;
}

.app {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: steelblue;
    padding: 15px 15px;
}

.navigationBar i {
    font-size: 3.0em;
    color: #fff;
}

.navigationBar a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.body {
    background: lightgray;
}